# ARIMA and Seasonal ARIMA
## Autoregressive Integrated Moving Averages

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Kolkata.csv',index_col='Date' )

In [3]:
df.head()

            Temperature
Date
01-01-2009         20.6
01-02-2009         23.4
01-03-2009         27.4
01-04-2009         31.5
01-05-2009         29.9